<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { title: 'Trang chủ' }) %>
  <body>
    <%- include('partials/header') %>
    <div class=" ">
        
        <main>
        <section id="main-content" class="content">
        <div class="content-flex-flex">

            <div id="viewport-side">
                <div id="sidebar-side" class="scrollarea">
                    <% categories.forEach(category => { %>
                        <ul class="nav flex-column">
                            <h3 class="sidebar-title"><%= category._id %></h3>
                            <div class="scrollable-category" style="display: block !important;">
                                <% category.subCategories.forEach(subCategory => { %>
                                    <li class="nav-item">
                                        <a href="/gallery?category=<%= category._id %>&subCategory=<%= subCategory %>" class="nav-link">
                                            <%= subCategory %>
                                        </a>
                                    </li>
                                <% }) %>
                            </div>
                        </ul>
                    <% }) %>
                
                    <!-- Articles Section -->
                    <ul class="nav flex-column" id="mews">
                        <h3 class="sidebar-title">Bài viết</h3>                       
                        <div class="scrollable-category" style="display: block !important;">
                            <% articles.forEach(article => { %>
                                <li class="nav-item">
                                    <a href="<%= article.url %>" class="nav-link" target="_blank">
                                        <%= article.title %>
                                    </a>
                                </li>
                            <% }) %>
                        </div>
                    </ul>
                </div>
                
            </div>
            <div class="container" id="top">
                <div class="row row-category">
                  <h2>All Photos</h2> <!-- Default heading if no category/subcategory -->
                  <% if (category) { %>
                    <h2><%= category %> <%= subCategory ? '- ' + subCategory : '' %></h2> <!-- Display the selected category and sub-category -->
                  <% } %>
                  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 column-gallery-main" data-masonry='{"percentPosition": true }'>
                    <!-- Loop through photos passed from the route -->
                    <% photosAll.forEach(photo => { %>
                      <div class="column-main">
                        <img src="data:image/jpeg;base64,<%= photo.imageBase64 %>" alt="" class="img-fluid">
                        <div class="name d-none">
                          <h3><%= photo.title %></h3>
                          <h4><%= photo.alttitle %></h4>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </div>
              </div>
              
            
            
        </div>
        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #242424;">
                        <!--<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>-->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" aria-expanded="false" aria-controls="main-nav"></button>

                    </div>
                    <div class="modal-body text-center">
                        <img src="" alt="" class="img-fluid modal-image">
                        <div class="name">
                            <h3 class="modal-name mb-3"></h3>
                            <h4 class="modal-eng-name mb-3"></h4>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
            <!--FOOTER-->
            <%- include('partials/footer') %>
        </main>
    </div>

    <!-- To Top -->
    <a href="#" id="toTopBtn"><div class="to-top"><i class="fa fa-angle-up"></i></div></a>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
       const images = document.querySelectorAll('.container .column-main img');
       const modalImage = document.querySelector('.modal-image');
       const modalName = document.querySelector('.modal-name');
       const modalEngName = document.querySelector('.modal-eng-name');
   
       images.forEach(image => {
           image.addEventListener('click', function () {
               modalImage.src = this.src;
               const name = this.nextElementSibling.querySelector('h3').innerText;
               const engName = this.nextElementSibling.querySelector('h4').innerText;
   
               modalName.innerText = name;
               modalEngName.innerText = engName;
               modalName.parentElement.classList.remove('d-none');
               $('#imageModal').modal('show');
           });
       });
   });
   
     </script>

     <!-- Include Masonry from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <!---->
    <script>
 window.onload = () => {
   var elem = document.querySelector('.column-gallery-main');
   var msnry = new Masonry(elem, {
     itemSelector: '.column-main',
     percentPosition: true,
     gutter: 0
   });
 
   // Use imagesLoaded to trigger layout update
   imagesLoaded(elem, function() {
     msnry.layout(); // This will update the layout after all images have loaded
   });
 };
 
     </script>
  
  </body>
</html>