<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: 'Trang chủ' }) %>
  <body>
    
    <%- include('../partials/header') %>
    <div class=" ">
        
        <main>
        <section id="content" class="content">

            <div class="text-decoration-none"><button id="addProductBtn" type="button" class="add-button">
                <span class="add-button__text">UPLOAD</span>
                <span class="add-button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
            </button></div>

        <div class="content-flex-flex">
            
             <div id="viewport-side">
                <div id="sidebar-side" class="scrollarea">
              
                    <% categories.forEach(category => { %>
                        <ul class="nav flex-column">
                            <h3 class="sidebar-title"><%= category._id %></h3>
                            <div class="scrollable-category" style="display: block !important;">
                                <% category.subCategories.forEach(subCategory => { %>
                                    <li class="nav-item">
                                        <a href="/gallery?category=<%= category._id %>&subCategory=<%= subCategory %>" class="nav-link">
                                            <%= subCategory %>
                                        </a>
                                    </li>
                                <% }) %>
                            </div>
                        </ul>
                    <% }) %>
                
                    <!-- Articles Section -->
                    <ul class="nav flex-column" id="mews">
                        <h3 class="sidebar-title">Bài viết</h3>
                        <button id="addNewsBtn" type="button" class="btn btn-info">Thêm bài viết</button>
                        <div class="scrollable-category" style="display: block !important;">
                            <% articles.forEach(article => { %>
                                <li class="nav-item">
                                    <a href="<%= article.url %>" class="nav-link" target="_blank">
                                        <%= article.title %>
                                    </a>
                                </li>
                            <% }) %>
                        </div>
                    </ul>
                </div>
                
                
            </div>
            <div class="container home-page-content" id="top">
                <div id="main-content">
                <!--<hr class="solid">-->
                    <div class="row row-category">

                        <div class="full-link">
                            <h2 id="" class="title-custom">Thư Viện Ảnh</h2>
                            <div class="full-link-bd">
                                <a href="/gallery">
                                    <p>Xem tất cả
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                        </svg>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 column-gallery-main" data-masonry='{"percentPosition": true }'>
                            <% photosAll.forEach(photo => { %>
                                <div class="column-main">
                                    <img src="data:image/jpeg;base64,<%= photo.imageBase64 %>" alt="" class="img-fluid">
                                    <div class="name d-none">
                                        <h3><%= photo.title %></h3>
                                        <h4><%= photo.alttitle %></h4>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>

                    
                    <!-- Category Sections -->
                    <% ['Chim Việt Nam', 'Chim Thế Giới', 'Ảnh đẹp của bạn bè'].forEach(categoryName => { %>
                        <div class="row row-category">
                            <div class="full-link">
                                <h2 id="" class="title-custom"><%= categoryName %></h2>
                                <div class="full-link-bd">
                                    <a href="/gallery?category=<%= categoryName %>">
                                        <p>Xem tất cả
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                            </svg>
                                        </p>
                                    </a>
                                </div>
                            </div>

                            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 column-gallery-main" data-masonry='{"percentPosition": true }'>
                                <% photosAll.filter(photo => photo.category === categoryName).forEach(photo => { %>
                                    <div class="column-main">
                                        <img src="data:image/jpeg;base64,<%= photo.imageBase64 %>" alt="" class="img-fluid">
                                        <div class="name d-none">
                                            <h3><%= photo.title %></h3>
                                            <h4><%= photo.alttitle %></h4>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    <% }) %>



                </div>
                

                    <!-- Forms for adding categories, images, and articles -->
                    <div id="productForm" class="hidden container-fluid rounded-page form-page-content">
                        <div class="container d-flex justify-content-between form-container">
                            <form action="/upload-image" method="POST" enctype="multipart/form-data" class="d-flex flex-column">
                                <h2 class="text-secondary">Thêm hình vào kho ảnh</h2>
                                <label class="fs-4 mb-2" for="title">Tên</label>
                                <input class="form-input" type="text" name="title" id="title" required>
                                <label class="fs-4 mb-2" for="alttitle">Tên tiếng anh</label>
                                <input class="form-input" type="text" name="alttitle" id="alttitle" required>
                                <label class="fs-4 mb-2" for="category-select">Thể loại và mục</label>
                                <select class="form-input" name="category" id="category-select" required>
                                    <option value="">Select Category</option>
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category._id %>"><%= category._id %></option>
                                    <% }) %>
                                </select>
                                <label class="fs-4 mb-2">Chọn danh mục</label>
                                <select class="form-input" name="subCategory" id="subCategory-select" required>
                                    <option value="">Chọn danh mục</option>
                                </select>
                                <button type="button" id="toggleButton" class="btn btn-secondary my-2 form-input"><h4>Danh mục mới</h4></button>
                                <label class="fs-4 mb-2">Tên mục mới</label>
                                <input class="form-input" type="text" name="subCategory" id="subCategory-input" disabled required>
                                
                                <label class="fs-4 mb-2" for="image">Chọn hình ảnh</label>
                                <input accept="image/*" type="file" name="image" id="image" required>
                                <div class="d-flex justify-content-between">
                                    <button class="form-btn" type="submit">Upload</button>
                                    <button class="reset-form-btn" type="reset">Reset</button>
                                </div>
                                <a href="#top" id="backBtn" class="nav-link text-black fs-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1-5 12.5v-2a.5.5 0 0 1-1 0z"/>
                                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                    </svg>
                                    <strong>Quay lại trang chủ</strong>
                                </a>
                            </form>
                        </div>
                    </div>
                    
                    
                    

        <!--
            <div id="catForm" class="hidden container-fluid rounded-page form-page-content">
            <div class="container d-flex justify-content-between form-container">
              <form action="/add-category" method="POST" class="d-flex flex-column">
                <h2 class="text-secondary">Thêm danh mục</h2>
                <h2 class="text-secondary">Thêm danh mục</h2>
                    <label class="fs-4 mb-2" for="category">Category</label>
                    <input class="form-input" type="text" name="category" id="category" required>
                <label class="fs-4 mb-2" for="subCategory">Sub-Category</label>
                <input class="form-input" type="text" name="subCategory" id="subCategory" required>
                <div class="d-flex justify-content-between">
                  <button class="form-btn" type="submit">Upload</button>
                  <button class="reset-form-btn" type="reset">Reset</button>
                </div>
                <a href="#top" id="backBtnCat" class="nav-link text-black fs-6">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1-5 12.5v-2a.5.5 0 0 1-1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                  </svg>
                  <strong>Quay lại trang chủ</strong>
                </a>
              </form>
            </div>
          </div>
        -->

        <div id="catForm" class="hidden container-fluid rounded-page form-page-content">
            <div class="container d-flex justify-content-between form-container">
              <form action="/add-category" method="POST" class="d-flex flex-column">
                <h2 class="text-secondary">Thêm danh mục</h2>
                <label class="fs-4 mb-2" for="category-select">Category</label>
                <select class="form-input" name="category" id="category-select" required>
                  <option value="">Select Category</option>
                  <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category._id %></option>
                  <% }) %>
                </select>
                <label class="fs-4 mb-2" for="subCategory">Sub-Category</label>
                <input class="form-input" type="text" name="subCategory" id="subCategory" required>
                <div class="d-flex justify-content-between">
                  <button class="form-btn" type="submit">Upload</button>
                  <button class="reset-form-btn" type="reset">Reset</button>
                </div>
                <a href="#top" id="backBtnCat" class="nav-link text-black fs-6">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1-5 12.5v-2a.5.5 0 0 1-1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                  </svg>
                  <strong>Quay lại trang chủ</strong>
                </a>
              </form>
            </div>
          </div>
          

        <div id="newsForm" class="hidden container-fluid rounded-page form-page-content">
            <div class="container d-flex justify-content-between form-container">
                <form action="/add-article" method="POST" class="d-flex flex-column">
                    <h2 class="text-secondary">Thêm Bài Viết</h2>
                    <label class="fs-4 mb-2" for="title">Tên bài viết</label>
                    <input class="form-input" type="text" name="title" id="title" required>
                    <label class="fs-4 mb-2" for="url">URL</label>
                    <input class="form-input" type="text" name="url" id="url" required>
                    <div class="d-flex justify-content-between">
                        <button class="form-btn" type="submit">Upload</button>
                        <button class="reset-form-btn" type="reset">Reset</button>
                    </div>
                    <a href="#top" id="backBtnNews" class="nav-link text-black fs-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1-5 12.5v-2a.5.5 0 0 1-1 0z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                        </svg>
                        <strong>Quay lại trang chủ</strong>
                    </a>
                </form>
            </div>
        </div>







                

            </div>        
        </div>
        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #242424;">
                        <!--<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>-->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" aria-expanded="false" aria-controls="main-nav"></button>

                    </div>
                    <div class="modal-body text-center">
                        <img src="" alt="" class="img-fluid modal-image">
                        <div class="name">
                            <h3 class="modal-name mb-3"></h3>
                            <h4 class="modal-eng-name mb-3"></h4>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
       <!--FOOTER-->
       <%- include('../partials/footer') %>
        </main>
    </div>

    <!-- To Top -->
    <a href="#" id="toTopBtn"><div class="to-top"><i class="fa fa-angle-up"></i></div></a>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
       const images = document.querySelectorAll('.container .column-main img');
       const modalImage = document.querySelector('.modal-image');
       const modalName = document.querySelector('.modal-name');
       const modalEngName = document.querySelector('.modal-eng-name');
   
       images.forEach(image => {
           image.addEventListener('click', function () {
               modalImage.src = this.src;
               const name = this.nextElementSibling.querySelector('h3').innerText;
               const engName = this.nextElementSibling.querySelector('h4').innerText;
   
               modalName.innerText = name;
               modalEngName.innerText = engName;
               modalName.parentElement.classList.remove('d-none');
               $('#imageModal').modal('show');
           });
       });
   });
   
     </script>
    <script>
        const categories = <%- JSON.stringify(categories) %>;

        document.getElementById('category-select').addEventListener('change', function() {
            const selectedCategory = this.value;
            const subCategorySelect = document.getElementById('subCategory-select');

            subCategorySelect.innerHTML = '<option value="">Chọn danh mục</option>';

            if (selectedCategory) {
                const category = categories.find(cat => cat._id === selectedCategory);
                if (category) {
                    category.subCategories.forEach(subCategory => {
                        const option = document.createElement('option');
                        option.value = subCategory;
                        option.textContent = subCategory;
                        subCategorySelect.appendChild(option);
                    });
                }
            }
        });
    </script>
    


     <!-- Include Masonry from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <!---->
    <script>
 window.onload = () => {
   var elem = document.querySelector('.column-gallery-main');
   var msnry = new Masonry(elem, {
     itemSelector: '.column-main',
     percentPosition: true,
     gutter: 0
   });
 
   // Use imagesLoaded to trigger layout update
   imagesLoaded(elem, function() {
     msnry.layout(); // This will update the layout after all images have loaded
   });
 };
 
    </script>
    <script>
    document.getElementById('addProductBtn').addEventListener('click', function() {
    document.getElementById('main-content').classList.add('hidden');
    document.getElementById('productForm').classList.remove('hidden');
});

    document.getElementById('backBtn').addEventListener('click', function() {
    document.getElementById('productForm').classList.add('hidden');
    document.getElementById('main-content').classList.remove('hidden');
});
    </script>
    <script>
    document.getElementById('addCatBtn').addEventListener('click', function() {
    document.getElementById('main-content').classList.add('hidden');
    document.getElementById('catForm').classList.remove('hidden');
});

    document.getElementById('backBtnCat').addEventListener('click', function() {
    document.getElementById('catForm').classList.add('hidden');
    document.getElementById('main-content').classList.remove('hidden');
});
    </script>
    <script>
    document.getElementById('addNewsBtn').addEventListener('click', function() {
    document.getElementById('main-content').classList.add('hidden');
    document.getElementById('newsForm').classList.remove('hidden');
});

    document.getElementById('backBtnNews').addEventListener('click', function() {
    document.getElementById('newsForm').classList.add('hidden');
    document.getElementById('main-content').classList.remove('hidden');
});
    </script>

<script>
    document.getElementById('toggleButton').addEventListener('click', function() {
        var dropdown = document.getElementById('subCategory-select');
        var input = document.getElementById('subCategory-input');
        
        if (dropdown.disabled) {
            dropdown.disabled = false;
            input.disabled = true;
        } else {
            dropdown.disabled = true;
            input.disabled = false;
        }
    });
</script>
  
  </body>
</html>